<div class="container">
    <button mat-raised-button (click)="back()">Back</button>
    
      <div class="row">
        <div class="col-25">
          <label for="fname">Title</label>
        </div>
    
        <div class="col-25">
            <label>{{data.title}}</label>
          <!-- <input type="text" id="fname" name="Title" placeholder="Title"> -->
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Image</label>
        </div>
        <div class="col-25">
          <label>{{data.image}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Bid expiry</label>
        </div>
        <div class="col-25">
          <label>{{data.bidExpiry}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Bidding</label>
        </div>
        <div class="col-17">
            <button mat-raised-button color="primary" >Automatic</button>
            

        </div>
        <div class="col-17">
            <button mat-raised-button color="primary" (click)="openDialog()">Manual</button>

        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="lname">Auction ID</label>
        </div>
        <div class="col-25">
          <label>{{data.auctionId}}</label>
        </div>
        
      </div>
     
      <div class="row">
        <div class="col-25">
          <label for="lname">Reserve Price </label>
        </div>
        <div class="col-25">
          <label>{{data.reservePrice}}</label>
        </div>
        
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Current Bid</label>
        </div>
        <div class="col-25">
          <label>{{data.currentBid}}</label>
        </div>
        
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Other charges</label>
        </div>
        <div class="col-25">
            <input type="text" id="lname" name="Other charges" placeholder="Other charges">
        </div>
        
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Bidding history</label>
        </div>
        <div class="col-25">
            <input type="text" id="lname" name="Bidding history" placeholder="Bidding history">
        </div>
        
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Description of the car </label>
        </div>
        <div class="col-25">
            <input type="text" id="lname" name="Bid expiry" placeholder="Description">
          
        </div>
        
      </div>
   
  </div>

  <!-- The Modal -->
<div id="myModal" class="modal" *ngIf="showPopup">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closePopup(false,data.bidValue)">&times;</span>
    <label for="lname">Enter the Bid Value </label>
    <input type="text" id="lname" name="Bid Value" placeholder="Bid Value" [(ngModel)]="data.bidValue">

    <button mat-raised-button color="primary" (click)="closePopup(true,data.bidValue)">OK</button>
  </div>

</div>