<div class="container">
    <button mat-raised-button>Back</button>
    <form >
      <div class="row">
        <div class="col-25">
          <label for="fname">Title</label>
        </div>
    
        <div class="col-25">
          <input type="text" id="fname" name="Title" placeholder="Title">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Image</label>
        </div>
        <div class="col-25">
          <img src="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Bid expiry</label>
        </div>
        <div class="col-25">
          <input type="text" id="lname" name="Bid expiry" placeholder="Bid expiry">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Bidding</label>
        </div>
        <div class="col-17">
            <button mat-raised-button color="primary" >Automatic</button>
            

        </div>
        <div class="col-17">
            <button mat-raised-button color="primary" >Manual</button>

        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="lname">Auction ID</label>
        </div>
        <div class="col-25">
            <input type="text" id="lname" name="Auction ID" placeholder="Auction ID">
        </div>
        
      </div>
     
      <div class="row">
        <div class="col-25">
          <label for="lname">Reserve Price </label>
        </div>
        <div class="col-25">
            <input type="text" id="lname" name="Reserve Price" placeholder="Reserve Price">
        </div>
        
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Current Bid</label>
        </div>
        <div class="col-25">
            <input type="text" id="lname" name="Current Bid" placeholder="Current Bid">
        </div>
        
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Other charges</label>
        </div>
        <div class="col-25">
            <input type="text" id="lname" name="Other charges" placeholder="Other charges">
        </div>
        
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Bidding history</label>
        </div>
        <div class="col-25">
            <input type="text" id="lname" name="Bidding history" placeholder="Bidding history">
        </div>
        
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Description of the car </label>
        </div>
        <div class="col-25">
            <input type="text" id="lname" name="Bid expiry" placeholder="Description">
          
        </div>
        
      </div>
    </form>
  </div>